@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <title>Customer Service Portal</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<div class="text-center">
    <h1>Customer Service Portal</h1>
    <br/>
    <div>
        <form method="get" asp-page="/Ticket/Create">
            <button type="submit" class="pretty-button">Create new ticket</button>
        </form>
    </div>
    <br/>
    <div>
        <form method="get" asp-page="/Ticket/Index">
            <button type="submit" class="pretty-button">Ticket List</button>
        </form>
    </div>
</div>