@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Customer Service Portal</h1>
    <button >
        <a asp-page="/Ticket/Create">Create new ticket</a>
    </button>
</div>